
.subscriptionName{
    color:darkgrey;
    }

.messageBox{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    width:100%;

}

.messageDetailsBox{
   /* border: solid 1px purple;*/
    max-width: max-content;
    margin-right: 10px;
}


td, th {
    border-bottom: grey solid 1px;
}
.bodyBox{
width: 100%;
}
.bodyScrollBox{
    overflow: auto;
    height: 100%;
    width: 100%;
    
    border: grey solid 1px;
}
.customAttributesBox{
    /* border: solid 1px blue; */
    max-width: min-content;
    
}

.customAttributesTable td{
        text-align: left;
}

.customAttributesTable thead th{
    text-align: left;
    background-color: darkblue;
    padding-left: 10px;
    color: white;
}

.customAttributesTable th{
    text-align: left;
    white-space: nowrap;
    
}

.messageDetailsTable th{
    text-align: left;
    white-space: nowrap;
}
