
.queueExplorer{
    width: 100%;
    text-align: left;
}
.missingValue {
    opacity: 0.25;
}

.queueName{
    font-weight: bold;
    font-size: 1.2em;
    color:darkgray;
}

.messagesListDiv{
    height: 500px;
    min-height: 100%;
}