.App {
  background-color: offwhite;
}
.wholeAppFlex {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.wholeAppFlex .appHeader {
  flex: 0 1 auto;
  display:flex;
}
.wholeAppFlex .appBody {
  flex: 1 1 auto;
   display:flex;
   margin-top: 10px;
}

.leftRightContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftRightContainer .left
{

}

.leftRightContainer .right
{

}