
.ConnectionBox span{
    vertical-align: middle;
    
}
.ConnectionBox{
    background-color: rgba(255,255,255,0.9);
    z-index: 100;
    width:100%;
    margin: 5px;
}

.ConnectionStringBox input{
    color:white !important;
}
