


.serviceBusDetailsBox{
    width: 100%;
    min-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

.queueOrTopicLists
{
 overflow: auto;
  max-width: 400px;
  min-width: 350px;
  margin-right: 20px;
}

.queueOrSubscriptionExplorer{
  width: 100%;
  height: 100%;
}